In [42]:
import pandas as pd
import numpy as np
import matplotlib as pyplot
import seaborn as sns

In [43]:
data= pd.read_csv("car_data.csv")

In [44]:
#Print the size of the dataframe
data.shape

(301, 9)

In [45]:
# print first  5 rows
data.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [46]:
#Print first 6 rows
data.head(10)

        Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0           ritz  2014           3.35  ...       Dealer        Manual     0
1            sx4  2013           4.75  ...       Dealer        Manual     0
2           ciaz  2017           7.25  ...       Dealer        Manual     0
3        wagon r  2011           2.85  ...       Dealer        Manual     0
4          swift  2014           4.60  ...       Dealer        Manual     0
5  vitara brezza  2018           9.25  ...       Dealer        Manual     0
6           ciaz  2015           6.75  ...       Dealer        Manual     0
7        s cross  2015           6.50  ...       Dealer        Manual     0
8           ciaz  2016           8.75  ...       Dealer        Manual     0
9           ciaz  2015           7.45  ...       Dealer        Manual     0

[10 rows x 9 columns]

In [47]:
#print last 5 rows 
data.tail()

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [48]:
#print last 7 rows 
data.tail(7)

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
294    amaze  2014           3.75  ...       Dealer        Manual     0
295     city  2015           8.55  ...       Dealer        Manual     0
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[7 rows x 9 columns]

In [49]:
#print basic statistical details (Numerical Variables)
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [50]:
#print basic statistical details (Categorical Variables)
data.describe(include="O")

       Car_Name Fuel_Type Seller_Type Transmission
count       301       301         301          301
unique       98         3           2            2
top        city    Petrol      Dealer       Manual
freq         26       239         195          261

In [13]:
#print basic statistical details (All Variables)
data.describe(include="all")

       Car_Name         Year  ...  Transmission       Owner
count       301   301.000000  ...           301  301.000000
unique       98          NaN  ...             2         NaN
top        city          NaN  ...        Manual         NaN
freq         26          NaN  ...           261         NaN
mean        NaN  2013.627907  ...           NaN    0.043189
std         NaN     2.891554  ...           NaN    0.247915
min         NaN  2003.000000  ...           NaN    0.000000
25%         NaN  2012.000000  ...           NaN    0.000000
50%         NaN  2014.000000  ...           NaN    0.000000
75%         NaN  2016.000000  ...           NaN    0.000000
max         NaN  2018.000000  ...           NaN    3.000000

[11 rows x 9 columns]

In [55]:
data["Selling_Price"]

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [56]:
#Print the statistical measures of one particular feature

mean=data['Selling_Price'].mean()
print("mean of the ['Selling_Price']is",mean)

mean of the ['Selling_Price']is 4.661295681063127

In [57]:
med= data['Selling_Price'].median()
print("median of the ['Selling_Price']is",med)

median of the ['Selling_Price']is 3.6

In [58]:
mod=data['Selling_Price'].mode()
print("mode of the ['Selling_Price']is",mod)

mode of the ['Selling_Price']is 0    0.45
1    0.60
dtype: float64

In [59]:
SD= data['Selling_Price'].std()
print("Standard Deviation of the ['Selling_Price']is",SD)

Standard Deviation of the ['Selling_Price']is 5.082811556177804

In [60]:
from statistics import variance
Var= variance(data['Selling_Price'])
print("Variance of the ['Selling_Price']is",Var)

Variance of the ['Selling_Price']is 25.83497331561462

In [34]:
# get the correlation matrix
data.corr()

                   Year  Selling_Price  Present_Price  Kms_Driven     Owner
Year           1.000000       0.236141      -0.047584   -0.524342 -0.182104
Selling_Price  0.236141       1.000000       0.878983    0.029187 -0.088344
Present_Price -0.047584       0.878983       1.000000    0.203647  0.008057
Kms_Driven    -0.524342       0.029187       0.203647    1.000000  0.089216
Owner         -0.182104      -0.088344       0.008057    0.089216  1.000000

In [ ]:
#To Do : Calculate Covaiance between Selling_Price and Kms_Driven

In [61]:
# Check Missing Values
data.isnull()

     Car_Name   Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0       False  False          False  ...        False         False  False
1       False  False          False  ...        False         False  False
2       False  False          False  ...        False         False  False
3       False  False          False  ...        False         False  False
4       False  False          False  ...        False         False  False
..        ...    ...            ...  ...          ...           ...    ...
296     False  False          False  ...        False         False  False
297     False  False          False  ...        False         False  False
298     False  False          False  ...        False         False  False
299     False  False          False  ...        False         False  False
300     False  False          False  ...        False         False  False

[301 rows x 9 columns]

In [62]:
# No missing Values
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [41]:
#Basic Visualizations
# Scatter Plot